<?xml version="1.0" encoding="UTF-8"?>
<SUBMISSION_SET xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                xsi:noNamespaceSchemaLocation="http://www.ncbi.nlm.nih.gov/viewvc/v1/trunk/sra/doc/SRA_1-5/SRA.submission.xsd?view=co">
    <SUBMISSION broker_name="{$broker_name}">
        <IDENTIFIERS>
            <SUBMITTER_ID namespace="{$center_name}">{$submission_name}</SUBMITTER_ID>
        </IDENTIFIERS>
        <CONTACTS>
            <CONTACT name="Mark Wilkinson" inform_on_status="mark.wilkinson@stjude.org" inform_on_error="mark.wilkinson@stjude.org" />
            <CONTACT name="Leandro Hermida" inform_on_status="leandro.hermida@nih.gov" inform_on_error="leandro.hermida@nih.gov" />
            <CONTACT name="NCI Cancer Genomics Office" inform_on_status="ocg@mail.nih.gov" />
            <CONTACT name="Charles Mullighan" inform_on_status="charles.mullighan@stjude.org" />
        </CONTACTS>
        <ACTIONS>
            <ACTION>
                <ADD source="{$submission_label}.run.xml" schema="run" />
            </ACTION>
        </ACTIONS>
    </SUBMISSION>
</SUBMISSION_SET>
